@model Back.Models.ChosenQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChosenQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionSet.QuestionSetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionSet.QuestionSetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChosenIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChosenIndex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
