@model Back.Models.AnswerSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnswerSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnswerBundle.AnswerBundleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerBundle.AnswerBundleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionMethod.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionMethod.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnswerSetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
