@model IEnumerable<Back.Models.QuestionSet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionMethod.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChosenIndex)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionMethod.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChosenIndex)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionSetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionSetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionSetID })
        </td>
    </tr>
}

</table>
