@model Back.Models.QuestionScale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionScale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScaleMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScaleMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScaleMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScaleMax)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionScaleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
